body {
    height: 100vh;
    padding: 3.875rem 3.625rem 1.9375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #EEEEEE 0%, #FFFFFF 100%);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75rem;
    margin-bottom: 3.0625rem;
}

header>h3 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
    text-align: center;

    background: linear-gradient(174.92deg, #EF6C00 18.47%, #DB6300 36.57%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dash {
    width: 15.9375rem;
    height: 1px;

    background: #CFCFCF;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.message {
    margin-bottom: 2.1875rem;
    height: 1.1875rem;

    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;


    color: #FF6600;
}

.display {
    display: flex;
    gap: .5625rem;
    margin-bottom: 10.6875rem;
}

.new-game {
    display: flex;
    align-items: center;

    margin-bottom: 4.5625rem;
    background: linear-gradient(180deg, #434854 0%, #9E9E9E 100%);
    border-radius: 4px;
    border: none;
    width: 8.125rem;
    height: 2.625rem;
    padding-left: .375rem;

    font-family: Roboto;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;

    cursor: pointer;
    display: none;
}

.input {
    display: flex;
    align-items: center;
    gap: .6875rem;
}

.input>input {
    width: 13.5625rem;
    height: 2.5rem;

    background: #FFFFFF;
    border: 1px solid #CFCFCF;
    border-radius: 4px;

    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;

    padding-left: .75rem;
}

.input>input:disabled {
    background: #F5F5F5;
    cursor: not-allowed;
}

.input>button {
    width: 4.375rem;
    height: 2.625rem;
    background: linear-gradient(180deg, #EF6C00 0%, #C0661C 100%);
    border-radius: 4px;
    border: none;

    font-family: Roboto;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;

    color: #FFFFFF;
    cursor: pointer;
}

.input>button:disabled {
    background: #DDD;
    cursor: not-allowed;
}

#digit-2 {
    display: none;
}

#digit-3 {
    display: none;
}